// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Font Variables
$montserrat-sans-serif: 'Montserrat', sans-serif;

.homedashboard {
    background-color: #455A64;
    color: $white;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5px;
}

.total {
   background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
    border-style: inset;
}

.today {
    background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
    border-style: inset;
}

.stats {
    background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
    border-style: inset;
}

.other {
    background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
    border-style: inset;
}

.updated {
    color: $full-white;
    font-weight: bold;
    margin-top: 5px;
//    background:linear-gradient(to right, #040404, #000000, #656565);
}
.heading {
    color: #B71C1C;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    font-family: $montserrat-sans-serif;
}
.title {
    color: #FFCA28;
    font-size: 15px;
    border-top: groove;
    border-color: aliceblue;
    font-family: $montserrat-sans-serif;
}
.value {
    font-size: 20px;
    margin-bottom: 12px;
    color: #C62828;
    font-weight: bold;
    border-bottom: groove;
    border-color: aliceblue;
    font-family: $montserrat-sans-serif;
}
.glow {
  color: #fff;
  text-align: center;
}