.homedashboard {
    background-color: #455A64;
    color: $white;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5px;
}

.total {
   background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
}

.today {
    background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
}

.stats {
    background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
}

.other {
    background:linear-gradient(to right, #040404, #000000, #656565);
    height: 100%;
}

.updated {
    color: $white;
//    background:linear-gradient(to right, #040404, #000000, #656565);
}