@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  background-color: #343a40 !important;
  padding-top: 65px;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.container {
	background-color: #343a40 !important;
}

main {
  // padding: 2em 0;
  text-align: center;
  align-items: center;
}